body {
    font-family: "Vollkorn", serif;
    margin: 0;
    padding: 20px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h2 {
    color: #a46435;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: black;
}

input[type="text"], input[type="number"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #a46435;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #8b5230;
}

.back-btn {
    background-color: #a46435;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 150px;
    margin: 20px auto;
    text-align: center;
}

.back-btn:hover {
    background-color: #8b5230;
}
